@-moz-document url-prefix("http://baidu.com"), url-prefix("http://www.baidu.com"), url-prefix("https://www.baidu.com"), url-prefix("https://baidu.com") {
/*========= Public ========= */

* {
               font-family: Helvetica, "Microsoft Yahei UI";
}
::-webkit-scrollbar {
               width: 6px;
               height: 10px;
               background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
               background-color: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
               border-radius: 3px;
               background-color: rgba(0, 0, 0, 0.2);
               transition: all 0.4s ease;
               -moz-transition: all 0.4s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.4s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.4s ease;
               /* Opera */
}
::-webkit-scrollbar-thumb:hover {
               border-radius: 3px;
               background-color: rgba(0, 0, 0, 0.4);
               transition: all 0.4s ease;
               -moz-transition: all 0.4s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.4s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.4s ease;
               /* Opera */
}
.animated {
               -webkit-animation-duration: 1s;
               animation-duration: 1s;
               animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
               from {
                              opacity: 0;
                              -webkit-transform: translate3d(0, 100%, 0);
                              transform: translate3d(0, 100%, 0);
               }
               to {
                              opacity: 1;
                              -webkit-transform: none;
                              transform: none;
               }
}
@keyframes fadeInUp {
               from {
                              opacity: 0;
                              -webkit-transform: translate3d(0, 100%, 0);
                              transform: translate3d(0, 100%, 0);
               }
               to {
                              opacity: 1;
                              -webkit-transform: none;
                              transform: none;
               }
}
.fadeInUp {
               -webkit-animation-name: fadeInUp;
               animation-name: fadeInUp;
}
@-webkit-keyframes bounceInRight {
               from, 60%, 75%, 90%, to {
                              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
               }
               from {
                              opacity: 0;
                              -webkit-transform: translate3d(3000px, 0, 0);
                              transform: translate3d(3000px, 0, 0);
               }
               60% {
                              opacity: 1;
                              -webkit-transform: translate3d(-25px, 0, 0);
                              transform: translate3d(-25px, 0, 0);
               }
               75% {
                              -webkit-transform: translate3d(10px, 0, 0);
                              transform: translate3d(10px, 0, 0);
               }
               90% {
                              -webkit-transform: translate3d(-5px, 0, 0);
                              transform: translate3d(-5px, 0, 0);
               }
               to {
                              -webkit-transform: none;
                              transform: none;
               }
}
@keyframes bounceInRight {
               from, 60%, 75%, 90%, to {
                              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
               }
               from {
                              opacity: 0;
                              -webkit-transform: translate3d(3000px, 0, 0);
                              transform: translate3d(3000px, 0, 0);
               }
               60% {
                              opacity: 1;
                              -webkit-transform: translate3d(-25px, 0, 0);
                              transform: translate3d(-25px, 0, 0);
               }
               75% {
                              -webkit-transform: translate3d(10px, 0, 0);
                              transform: translate3d(10px, 0, 0);
               }
               90% {
                              -webkit-transform: translate3d(-5px, 0, 0);
                              transform: translate3d(-5px, 0, 0);
               }
               to {
                              -webkit-transform: none;
                              transform: none;
               }
}
.bounceInRight {
               -webkit-animation-name: bounceInRight;
               animation-name: bounceInRight;
}
@-webkit-keyframes bounceInUp {
               from, 60%, 75%, 90%, to {
                              -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                              animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
               }
               from {
                              opacity: 0;
                              -webkit-transform: translate3d(0, 3000px, 0);
                              transform: translate3d(0, 3000px, 0);
               }
               60% {
                              opacity: 1;
                              -webkit-transform: translate3d(0, -20px, 0);
                              transform: translate3d(0, -20px, 0);
               }
               75% {
                              -webkit-transform: translate3d(0, 10px, 0);
                              transform: translate3d(0, 10px, 0);
               }
               90% {
                              -webkit-transform: translate3d(0, -5px, 0);
                              transform: translate3d(0, -5px, 0);
               }
               to {
                              -webkit-transform: translate3d(0, 0, 0);
                              transform: translate3d(0, 0, 0);
               }
}
a {
               text-decoration: none;
               margin-bottom: 2px;
}
.c-showurl:hover {
               text-decoration: none;
               border: none;
               opacity: 0.8;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.res-gap-right16:hover {
               border-bottom: #4879BD 1.2px solid;
}
.c-showurl {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-tip-arrow:hover {
               text-decoration: none;
               border: none;
}
.c-default a {
               text-decoration: none;
               border: none;
}
.c-gap-bottom a:hover {
               text-decoration: underline;
}
.op_dict3_morelink a:hover {
               text-decoration: underline;
}
.c-btn:hover {
               text-decoration: none !important;
}
td a:hover {
               text-decoration: underline;
}
em {
               text-decoration: none !important;
}
#s_wrap {
               display: none;
}
.s-top-nav {
               display: none;
}
#s_ctner_menus {
               display: none;
}
#s_menu_gurd {
               display: none;
}
#s_strpx_span1 {
               display: none;
}
#ftCon {
               display: none;
}
#bottom_container {
               display: none;
}
#lg {
               background-repeat: no-repeat;
               background-position: center;
               height: 70px;
               padding-top: 150px;
}
#lg img {
               display: none;
}
#lg a {
               display: none;
}
#head_wrapper {
               padding-bottom: 0px;
}
#s_form_wrapper {
               margin-top: auto;
}
#s_lg_img {
    display: none !important;
}
#s_lg_img_new {
    display: none !important;
}
.s_ipt_wr {
               border: none;
               border-radius: 3px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               background-position: 100% !important;
               z-index: -1;
               width: 600px;
               height: 39px;
               font-family: Helvetica, "Microsoft Yahei UI";
               padding-top: 4px;
}
.s_ipt {
               font-family: Helvetica, "Microsoft Yahei UI";
}
.s_ipt_wr:hover {
               border: none;
               border-radius: 2px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.ipthover {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.iptfocus {
               box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.s_btn {
               width: 32px;
               height: 32px;
               border-radius: 50%;
               font-size: 0px;
               border: none;
               box-shadow: none;
               margin-left: 0px;
               z-index: 100;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               margin-top: 0px;
               opacity: 0;
}
.s_btn:hover {
               opacity: 0.5;
               background: rgba(0, 0, 0, 0);
               border: none;
               box-shadow: none;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.s_btn_wr {
               width: 32px;
               height: 32px;
               border-radius: 50%;
               font-size: 0px;
               background-color: rgba(0, 0, 0, 0);
               background-position: 50%;
               border: none;
               box-shadow: none;
               margin-left: 5px;
               z-index: 100;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               margin-top: 6px;
}
.s_btn_wr:hover {
               opacity: 0.5;
               background: rgba(0, 0, 0, 0);
               border: none;
               box-shadow: none;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.self-btn {
               display: none;
}
.btnhover {
               opacity: 0.5;
               background-color: rgba(0, 0, 0, 0) !important;
               border: none !important;
               box-shadow: none;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.hint_toprq_tips {
               margin-bottom: 12px;
}
.s_form {
               height: 75px;
               padding-top: 10px;
}
#s_tab {
               padding: 87px 0 0 121px;
}
#content_right {
               display: none;
}
#head.s_down {
               box-shadow: none;
}
.bdsug {
               top: 50px !important;
               box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
               border: none;
               border-radius: 0px;
               font-family: Helvetica, "Microsoft Yahei UI";
               width: 599px !important;
}
.bgsug li {
               font-family: Helvetica, "Microsoft Yahei UI" !important;
               width: 100% !important;
               line-height: 32px !important;
}
.bgsug ul li {
               line-height: 32px !important;
}
.bdsug-overflow {
               font-family: Helvetica, "Microsoft Yahei UI" !important;
               width: 583px !important;
}
#quickdelete {
               top: 5px !important;
               opacity: 0.5;
}
#kw_tip {
               font-family: Helvetica, "Microsoft Yahei UI Light";
}
#result_logo {
               background-image: url(http://7xt3k7.com2.z0.glb.clouddn.com/dmlg.svg);
               background-repeat: no-repeat;
               background-position: center;
               width: 101px;
               height: 33px;
               margin-top: 9px;
}
#result_logo img {
               display: none;
               visibility: hidden;
}
#result_logo a img {
               display: none;
               visibility: hidden;
}
.c-container {
               line-height: 1.65;
}
#rs {
               background-color: rgba(0, 0, 0, 0) !important;
}
.c-border {
               -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
               box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
               border-radius: 2px;
               border: none;
               padding: 20px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-border:hover {
               box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-tabs-nav {
               border: none;
               border-radius: 2px 2px 0 0;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-tabs-nav-movetop {
               margin-left: -20px;
               margin-right: -20px;
               margin-top: -20px;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-tabs-nav-selected {
               border-top: none !important;
               border-left: none !important;
               border-right: none !important;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.c-tabs-nav-sep {
               display: none !important;
}
#page a {
               height: 34px;
               border-radius: 2px;
               border: none !important;
               background-color: rgba(0, 0, 0, 0);
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#page a:hover {
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#page a .pc:hover {
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#page strong {
               height: 34px;
               border-radius: 2px;
               position: relative;
               top: -2px;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#page strong .pc {
               line-height: 34px;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.fk {
               display: none !important;
}
.pc {
               border: none !important;
               height: 35px;
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.pc:hover {
               transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#s_tab a {
               width: 59px;
               line-height: 44px;
}
#s_tab b {
               width: 59px;
               line-height: 44px;
}
#s_tab {
               padding-bottom: 8px;
               padding-top: 89px;
}
.c-icon-tieba {
               background-repeat: no-repeat;
               background-position: center;
}
.toindex {
               display: none;
}
#u .pf {
               background-repeat: no-repeat;
               background-position: center;
               font-size: 0px;
               padding: 14px;
               opacity: 0.8;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               padding-top: 18px;
               padding-bottom: 10px;
}
#u .pf:hover {
               opacity: 1;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
}
.pf .c-icon {
               display: none !important;
}
.c-icon-triangle-down {
               display: none;
}
.bdpfmenu {
               box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
               border-radius: 2px !important;
               border: none;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               margin-left: -10px;
               margin-top: -17px;
               z-index: 8888 !important;
}
.bdpfmenu a:hover {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.bdnuarrow {
               display: none !important;
}
.setpref {
               border-radius: 2px 2px 0 0;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.setpref:hover {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#u .lb {
               padding: 23px;
               border-radius: 50px;
               font-size: 0px;
               position: absolute;
               right: 50px;
               top: 3800%;
               background-repeat: no-repeat;
               background-position: center;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#u .lb:hover {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#u .lb:active {
               box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
.tang-foreground {
               border-radius: 2px;
               box-shadow: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
}
#s_upfunc_menus {
               display: none;
}
#bg {
               background-color: #FFF !important;
               border: none;
               border-radius: 3px;
               background: #FFF;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               background-position: 100% !important;
               z-index: -1;
               width: 600px;
               height: 39px;
               font-family: Helvetica, "Microsoft Yahei UI";
               padding-top: 5px !important;
}
.s_ipt {
               border: 0 !important;
               height: 20px !important;
               border-radius: 2px;
               width: 586px !important;
               /*margin-top: -4px !important;
               padding-top: 14px;*/
}
.nobg_s_fm_hover {
               border: 0 !important;
}
.nobg_s_fm_focus {
               border: 0 !important;
               border-top: 0px solid #fff !important;
               border-bottom: 0px solid #fff !important;
               border-left: 0px solid #fff !important;
               border-right: 1px solid #38f;
}
.s-title-image {
               border: none !important;
               border-top: 0px solid #fff !important;
               border-bottom: 0px solid #fff !important;
               border-left: 0px solid #fff !important;
               border-right: 0px solid #fff !important;
}
#s_lg_img {
    display: none;
}
#s_lg_img_new {
    display: none;    
}
#form {
               -webkit-animation-duration: 1s;
               animation-duration: 1s;
               -webkit-animation-fill-mode: both;
               animation-fill-mode: both;
               animation-name: fadeInUp;
               -webkit-animation-name: fadeInUp;
               animation-delay: 0.3s;
               -webkit-animation-delay: 0.3s;
}
.s-p-top {
               transform: scale(0.8);
               bottom: 9px !important;
}
.mnav {
               display: none;
}
#u_sp .mnav {
               display: none;
}
#u1 a.lb {
               padding: 23px;
               border-radius: 50%;
               font-size: 0px;
               position: absolute;
               right: 44px;
               top: 1040%;
               background-image: url(http://7xt3k7.com2.z0.glb.clouddn.com/log.svg);
               background-repeat: no-repeat;
               background-position: center;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               line-height: 0px;
               z-index: 100;
}
#u1 a.lb:hover {
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#u1 a.lb:active {
               box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
}
#u1 a.pf {
               background-repeat: no-repeat;
               background-position: center;
               font-size: 0px;
               padding: 14px;
               opacity: 0.8;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               z-index: 0;
}
#u1 a.bri {
               background-color: rgba(0, 0, 0, 0);
               background-repeat: no-repeat;
               background-position: center;
               font-size: 0px;
               padding: 2px;
               opacity: 0.8;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               border: none;
               margin-top: 12px;
}
#wrapper .bdbriimgtitle {
               padding-top: 23px;
}
#wrapper .bdbri.bdbriimg .bdmainlink a {
               border: none;
}
#wrapper .bdbri {
               z-index: 2;
}
#u_sp .s_bri {
               padding: 5px;
               border-radius: 50%;
               font-size: 0px;
               width: 32px;
               height: 32px;
               background-image: url(http://7xt3k7.com2.z0.glb.clouddn.com/appbai.svg);
               background-repeat: no-repeat;
               background-position: center;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Firefox 4 */
               
               -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Safari 和 Chrome */
               
               -o-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
               ;
               /* Opera */
               
               line-height: 0px;
               z-index: 100;
               margin-right: 22px;
               margin-top: 20px;
}
#u_sp .s_bdbriimgtitle {
               padding-top: 73px;
}
#s_usersetting_top {
               background-repeat: no-repeat;
               background-position: center;
               font-size: 0px;
               padding: 14px;
               opacity: 0.8;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               margin-top: 12px;
               margin-right: 4px;
               z-index: -100;
}
#s_top_wrap {
               z-index: -10;
}
#u .toindex {
               display: none !important;
}
#s_username_top {
               text-decoration: none;
               margin-top: 26px;
               margin-left: 5px;
               border: none;
               padding-left: 10px;
               padding-right: 10px;
               border-radius: 16px;
               margin-right: -3px;
}
.user-name {
               text-decoration: none !important;
}
.menu-arrow {
               display: none !important;
}
.s_user_name_menu {
               text-align: center !important;
}
.s-user-set-menu.menu-top {
               width: 100px;
}
.s-user-set-menu div {
               border: none! important;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.s-user-set-menu {
               padding-top: 0px;
               margin-top: -11px;
               border-radius: 2px !important;
}
.s-user-set-menu a {
               padding-left: 25px;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
}
.s-user-set-menu a:hover {
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
}
#user {
               text-decoration: none !important;
               margin-top: 30px;
               margin-left: 5px;
               border: none;
               padding-left: 10px;
               padding-right: 10px;
               border-radius: 16px;
               margin-right: -3px;
               height: 23px;
               padding-top: 8px;
               -webkit-animation-duration: 1s;
               animation-duration: 1s;
               -webkit-animation-fill-mode: both;
               animation-fill-mode: both;
               animation-name: bounceInRight;
               -webkit-animation-name: bounceInRight;
}
.usermenu {
               border: none !important;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               width: 83px;
               border-radius: 2px !important;
               top: -7px !important;
}
.username a {
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               border-radius: 2px;
}
.username a:hover {
               background: #4879BD !important;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
}
.username a:active {
               background: #4879BD !important;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
}
#user .c-icon {
               display: none;
}
#imsg {
               background-repeat: no-repeat;
               background-position: center;
               font-size: 0px;
               padding: 14px;
               opacity: 0.8;
               -moz-transition: all 0.3s ease;
               /* Firefox 4 */
               
               -webkit-transition: all 0.3s ease;
               /* Safari 和 Chrome */
               
               -o-transition: all 0.3s ease;
               /* Opera */
               
               z-index: 0;
               padding-top: 25px;
               padding-bottom: 21px;
}
#imsg:hover {
               opacity: 1;
}
#bds-message-wrapper {
               top: 64px;
}
.s-mod-msg {
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               border-radius: 3px;
}
.msg-btn {
               border-radius: 2px;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.msg-btn:hover {
               border-radius: 2px;
               box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.msg-btn:active {
               border-radius: 2px;
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.no-use:hover {
               box-shadow: none !important;
}
.top-logo img {
               display: none;
}
.top-logo {
               background-image: url(http://7xt3k7.com2.z0.glb.clouddn.com/dmlg.svg);
               background-repeat: no-repeat;
               background-position: center;
               height: 100px;
               width: 200px;
}
#u_sp .s_bri {
               border: 0 !important;
}
.pass-text-input {
               background-image: none !important;
}
.pass-text-input-focus {
               background-image: none !important;
}
#passport-login-pop {
               font-family: Helvetica, "Microsoft Yahei UI";
               border-radius: 2px;
}
#TANGRAM__PSP_2__titleText {
               font-family: Helvetica, "Microsoft Yahei UI Light";
}
.pass-fgtpwd {
               font-family: Helvetica, "Microsoft Yahei UI" !important;
}
.pass-sms-btn {
               font-family: Helvetica, "Microsoft Yahei UI" !important;
}
.pass-reglink {
               font-family: Helvetica, "Microsoft Yahei UI" !important;
}
.tang-foreground {
               border-radius: 2px !important;
               border: 0 !important;
}
.tang-title {
               border-radius: 2px 2px 0 0 !important;
}
.tang-pass-pop-login div.tang-title {
               border-radius: 2px 2px 0 0 !important;
}
.pass-checkbox-input {
               width: 17px;
               height: 17px;
               border: #e0e0e0 3px solid !important;
               background-color: #fff !important;
               box-shadow: none;
}
.tang-pass-pop-login-color-blue .pass-button:focus {
               box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
               -webkit-box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px !important;
}
#content_right,
.c-recommend,
body > div[class="result-op xpath-log"] {
               display: none !important;
}
.rrecom-btn-parent {
               display: none !important;
}
.s-p-top {
               bottom: -8px !important;
}

input[type="text"]:focus {
               border: none !important;
               border-top: 0px solid #fff !important;
               border-bottom: 0px solid #fff !important;
               border-left: 0px solid #fff !important;
               border-right: 0px solid #fff !important;
}

a[soft_id] {
               display: none;
}

.op-soft-btnbox .c-gap-left-small {
    margin-left: 0px !important;
    color: #fff;
    background-color: #4879BD;
    padding: 7px 15px;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.op-soft-btnbox .c-gap-left-small:hover {
    background-color: #7098D0;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.soutu-input-image{
    top: 6px;
    left: 5px;            
}

.op-soft-btnbox a:before {
    content: "没有流氓的";
}

#kw{
    background-color:transparent;
}
.s-skin-hasbg #kw {
        box-shadow: 0 0px 0px rgba(0,0,0,0.2);
}
.s-skin-hasbg .btn_wr {
    width: 35px;
}
/*.iptfocus {
    box-shadow: none;
}
.soutu-btn {
    display: none;
}*/
#s_usersetting_top {
    margin-top:-7px;
}
#s_username_top {
    margin-top: 7px;
}
#u_sp {
    padding-top:16px;
}
.ipt_rec{
    background:none;
    background-image:none;
}
.ipt_rec:hover{
    background:none;
    background-image:none;
}
.ipt_rec:after{
    display:none;
    margin-top:50px;
}

/*[[togglemode]]*/
/*[[adblock]]*/
/*[[netest]]*/
}
